<% if(error.status === 404) { %>
    <h1><%= __("Error_404")%></h1>
<% } %>
<% if(error.status === 500) { %>
    <h1><%= __("Error_500")%></h1>
<% } %>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
